USE [master]
GO
/****** Object:  Database [HomePageVST]    Script Date: 10/08/2020 16:09:24 ******/
CREATE DATABASE [HomePageVST] ON  PRIMARY 
( NAME = N'HomePageVST', FILENAME = N'D:\Huy\Source\db\HomePageVST.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HomePageVST_log', FILENAME = N'D:\Huy\Source\db\HomePageVST_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomePageVST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomePageVST]
GO
/****** Object:  Schema [Crawl]    Script Date: 10/08/2020 16:09:24 ******/
CREATE SCHEMA [Crawl] AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Recruitment]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Recruitment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](200) NOT NULL,
	[JobDescription] [nvarchar](max) NOT NULL,
	[JobRequirement] [nvarchar](max) NULL,
	[Salary] [varchar](50) NULL,
	[DatePosted] [date] NOT NULL,
	[DateExpired] [date] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Recruitment] ON
SET IDENTITY_INSERT [dbo].[Recruitment] OFF
/****** Object:  Table [dbo].[HeaderCategory]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HeaderCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Alias] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HeaderCategory] ON
INSERT [dbo].[HeaderCategory] ([Id], [Name], [Alias]) VALUES (1, N'Introduction', N'introduction')
INSERT [dbo].[HeaderCategory] ([Id], [Name], [Alias]) VALUES (2, N'Process & Product', N'Process-Product')
INSERT [dbo].[HeaderCategory] ([Id], [Name], [Alias]) VALUES (3, N'Open Business', N'introduction')
SET IDENTITY_INSERT [dbo].[HeaderCategory] OFF
/****** Object:  Table [Crawl].[CoporateCitizenCategory]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Crawl].[CoporateCitizenCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Link] [varchar](200) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Thumbnail] [varchar](200) NULL,
	[DatePosted] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Crawl].[CoporateCitizenCategory] ON
INSERT [Crawl].[CoporateCitizenCategory] ([Id], [Link], [Title], [Thumbnail], [DatePosted]) VALUES (1, N'https://newsroom.posco.com/en/corporate-citizen-poscos-solution-8-cultivating-the-dreams-of-future-generations/', N'[Corporate Citizen POSCO’s SOLUTION] #8 Cultivating the ‘Dreams’ of Future Generations', N'https://dh4drhh3phab.cloudfront.net/en/wp-content/uploads/2020/10/posco8_kv_960x540-640x360.png', CAST(0xA6410B00 AS Date))
INSERT [Crawl].[CoporateCitizenCategory] ([Id], [Link], [Title], [Thumbnail], [DatePosted]) VALUES (2, N'https://newsroom.posco.com/en/corporate-citizen-poscos-solution-7-sharing-growth-with-smes-benefit-sharing/', N'[Corporate Citizen POSCO’s SOLUTION] #7 Sharing Growth with SMEs, “Benefit Sharing”', N'https://dh4drhh3phab.cloudfront.net/en/wp-content/uploads/2020/09/posco_kv_960x540-640x360.png', CAST(0x87410B00 AS Date))
INSERT [Crawl].[CoporateCitizenCategory] ([Id], [Link], [Title], [Thumbnail], [DatePosted]) VALUES (3, N'https://newsroom.posco.com/en/corporate-citizen-poscos-solution-6-shifting-the-paradigm-of-childbirth/', N'[Corporate Citizen POSCO’s SOLUTION] #6 Shifting the Paradigm of Childbirth', N'https://dh4drhh3phab.cloudfront.net/en/wp-content/uploads/2020/08/posco_kv_960x540-640x360.png', CAST(0x79410B00 AS Date))
SET IDENTITY_INSERT [Crawl].[CoporateCitizenCategory] OFF
/****** Object:  Table [dbo].[UserLogin]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[PasswordHash] [nvarchar](50) NULL,
	[PasswordSalt] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_UserName_ON_UserLogin] ON [dbo].[UserLogin] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON
INSERT [dbo].[UserLogin] ([Id], [UserName], [RoleId], [CreatedAt], [IsActive], [PasswordHash], [PasswordSalt]) VALUES (1, N'admin', 1, CAST(0x73410B00 AS Date), 1, N'wTC+sKBgJ75vmez8wWSjRsYv31ww58vR', N'xgC5pkbKOKoV6z8EXFSoHIsmMqlmPIMs')
INSERT [dbo].[UserLogin] ([Id], [UserName], [RoleId], [CreatedAt], [IsActive], [PasswordHash], [PasswordSalt]) VALUES (2, N'user', 2, CAST(0x7E410B00 AS Date), 1, N'poCt2yRXYGi1iZy0PAbRljVMwvYBPqSi', N'9Rnu22UetT3sSEyQ2DvF4i6gQhxboJ+k')
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
/****** Object:  Table [Crawl].[CoporateCitizenContent]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Crawl].[CoporateCitizenContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CoporateCitizenCategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Crawl].[CoporateCitizenContent] ON
SET IDENTITY_INSERT [Crawl].[CoporateCitizenContent] OFF
/****** Object:  Table [dbo].[Candidate]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [varchar](12) NULL,
	[DateApplied] [date] NOT NULL,
	[EmailAddress] [nvarchar](200) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[DateConfirmed] [date] NULL,
	[CVName] [varchar](100) NOT NULL,
	[CVPath] [varchar](500) NOT NULL,
	[RecruitmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_EmailAddress_RecruitmentId_On_Candidate] ON [dbo].[Candidate] 
(
	[EmailAddress] ASC,
	[RecruitmentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benefit]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BenefitName] [nvarchar](200) NOT NULL,
	[RecruitmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeaderDetail]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HeaderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Alias] [varchar](100) NULL,
	[HeaderCategoryId] [int] NULL,
	[ParentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HeaderDetail] ON
INSERT [dbo].[HeaderDetail] ([Id], [Name], [Alias], [HeaderCategoryId], [ParentId]) VALUES (1, N'Introduction', N'introduction', 1, NULL)
INSERT [dbo].[HeaderDetail] ([Id], [Name], [Alias], [HeaderCategoryId], [ParentId]) VALUES (2, N'Vision', N'vision', 1, NULL)
INSERT [dbo].[HeaderDetail] ([Id], [Name], [Alias], [HeaderCategoryId], [ParentId]) VALUES (3, N'History', N'history', 1, NULL)
SET IDENTITY_INSERT [dbo].[HeaderDetail] OFF
/****** Object:  Table [dbo].[JobSkill]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSkill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](200) NOT NULL,
	[RecruitmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageDescription] [varchar](100) NULL,
	[FilePath] [varchar](200) NULL,
	[MinimalFilePath] [varchar](200) NULL,
	[DatePosted] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[HeaderDetailId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON
INSERT [dbo].[Images] ([Id], [ImageDescription], [FilePath], [MinimalFilePath], [DatePosted], [IsActive], [HeaderDetailId]) VALUES (1, N'POSCO VST supports buying watermelons for farmers', N'/media/images/News/News20.PNG', N'/media/thumbnails/News/News20.PNG', CAST(0x92410B00 AS Date), 1, 51)
INSERT [dbo].[Images] ([Id], [ImageDescription], [FilePath], [MinimalFilePath], [DatePosted], [IsActive], [HeaderDetailId]) VALUES (2, N'Volunteer activities with VHPC', N'/media/images/News/News19.JPG', N'/media/thumbnails/News/News19.JPG', CAST(0x92410B00 AS Date), 1, 12)
INSERT [dbo].[Images] ([Id], [ImageDescription], [FilePath], [MinimalFilePath], [DatePosted], [IsActive], [HeaderDetailId]) VALUES (3, N'Posco Vst Vision Work Shop 2019', N'/media/images/News/News18.JPG', N'/media/thumbnails/News/News18.JPG', CAST(0x92410B00 AS Date), 1, 12)
SET IDENTITY_INSERT [dbo].[Images] OFF
/****** Object:  Table [dbo].[Document]    Script Date: 10/08/2020 16:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[UploadedDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[FileName] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [Uidx_Document] ON [dbo].[Document] 
(
	[Description] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT [dbo].[Document] ([Id], [CategoryId], [Description], [UploadedDate], [IsActive], [FileName]) VALUES (2, 16, N'Chapter 01 Introduction of stainless steel 8', CAST(0x70410B00 AS Date), 1, N'chapter-01-introduction-of-stainless-steel-gioi-thieu-thep-khong-gi.pdf')
INSERT [dbo].[Document] ([Id], [CategoryId], [Description], [UploadedDate], [IsActive], [FileName]) VALUES (3, 16, N'Chapter 02 Stainless steel production process and products', CAST(0x70410B00 AS Date), 1, N'chapter-02-stainless-steel-production-process-and-products-quy-trinh-san-xuat-va-san-pham-thep-khong-gi.pdf')
INSERT [dbo].[Document] ([Id], [CategoryId], [Description], [UploadedDate], [IsActive], [FileName]) VALUES (4, 16, N'Chapter 03 Characteristics and applications of steel types', CAST(0x70410B00 AS Date), 1, N'chapter-03-characteristics-and-applications-of-steel-types-dac-diem-va-ung-dung-cac-loai-thep-khong-gi.pdf')
SET IDENTITY_INSERT [dbo].[Document] OFF
/****** Object:  Default [Df_Recruitment_DatePosted]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Recruitment] ADD  CONSTRAINT [Df_Recruitment_DatePosted]  DEFAULT (getdate()) FOR [DatePosted]
GO
/****** Object:  Default [Df_Recruitment_IsActive]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Recruitment] ADD  CONSTRAINT [Df_Recruitment_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__UserLogin__Creat__29572725]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[UserLogin] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  Default [DF__UserLogin__IsAct__2A4B4B5E]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[UserLogin] ADD  DEFAULT ((0)) FOR [IsActive]
GO
/****** Object:  Default [DF__Candidate__Email__2B3F6F97]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Candidate] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
/****** Object:  Default [DF__Images__DatePost__164452B1]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Images] ADD  DEFAULT (getdate()) FOR [DatePosted]
GO
/****** Object:  Default [DF__Images__IsActive__173876EA]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Images] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__Document__Upload__08EA5793]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Document] ADD  DEFAULT (getdate()) FOR [UploadedDate]
GO
/****** Object:  Default [DF__Document__IsActi__09DE7BCC]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Document] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  ForeignKey [Fk_UserLogin_Role]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [Fk_UserLogin_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [Fk_UserLogin_Role]
GO
/****** Object:  ForeignKey [Fk_CoporateCitizenContent_Category]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [Crawl].[CoporateCitizenContent]  WITH CHECK ADD  CONSTRAINT [Fk_CoporateCitizenContent_Category] FOREIGN KEY([CoporateCitizenCategoryId])
REFERENCES [Crawl].[CoporateCitizenCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Crawl].[CoporateCitizenContent] CHECK CONSTRAINT [Fk_CoporateCitizenContent_Category]
GO
/****** Object:  ForeignKey [Fk_Candidate_Recruitment]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [Fk_Candidate_Recruitment] FOREIGN KEY([RecruitmentId])
REFERENCES [dbo].[Recruitment] ([Id])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [Fk_Candidate_Recruitment]
GO
/****** Object:  ForeignKey [Fk_Benefit_Recruitment]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Benefit]  WITH CHECK ADD  CONSTRAINT [Fk_Benefit_Recruitment] FOREIGN KEY([RecruitmentId])
REFERENCES [dbo].[Recruitment] ([Id])
GO
ALTER TABLE [dbo].[Benefit] CHECK CONSTRAINT [Fk_Benefit_Recruitment]
GO
/****** Object:  ForeignKey [Fk_HeaderDetail_HeaderCategory]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[HeaderDetail]  WITH CHECK ADD  CONSTRAINT [Fk_HeaderDetail_HeaderCategory] FOREIGN KEY([HeaderCategoryId])
REFERENCES [dbo].[HeaderCategory] ([Id])
GO
ALTER TABLE [dbo].[HeaderDetail] CHECK CONSTRAINT [Fk_HeaderDetail_HeaderCategory]
GO
/****** Object:  ForeignKey [Fk_JobSkill_Recruitment]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[JobSkill]  WITH CHECK ADD  CONSTRAINT [Fk_JobSkill_Recruitment] FOREIGN KEY([RecruitmentId])
REFERENCES [dbo].[Recruitment] ([Id])
GO
ALTER TABLE [dbo].[JobSkill] CHECK CONSTRAINT [Fk_JobSkill_Recruitment]
GO
/****** Object:  ForeignKey [Fk_Images_HeaderDetail]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [Fk_Images_HeaderDetail] FOREIGN KEY([HeaderDetailId])
REFERENCES [dbo].[HeaderDetail] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [Fk_Images_HeaderDetail]
GO
/****** Object:  ForeignKey [Fk_Document_HeaderDetail]    Script Date: 10/08/2020 16:09:25 ******/
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [Fk_Document_HeaderDetail] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[HeaderDetail] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [Fk_Document_HeaderDetail]
GO
