@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:980px;margin-left:20%">
    <div class="col-xs-10">
        <h4 class="wow fadeInUp" data-wow-delay="0.6s" style="margin-left:auto; margin-right:auto"><center>NEWS & INFORMATION</center></h4>

        <div style="font-size:14px; font-family:Tahoma; color:#797977; width:850px">

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News20.png" data-lightbox="image-1" data-title="POSCO VST supports buying watermelons for farmers">
                        <img class="wow fadeInUp" data-wow-delay="0.7s" src="~/images/News/News20.png" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">POSCO VST supports buying watermelons for farmers</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News19.JPG" data-lightbox="image-1" data-title="Volunteer activities with VHPC">
                        <img class="wow fadeInUp" data-wow-delay="0.9s" src="~/images/News/News19.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Volunteer activities with VHPC</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News18.JPG" data-lightbox="image-1" data-title="Posco Vst Vision Work Shop 2019">
                        <img class="wow fadeInUp" data-wow-delay="1.1" src="~/images/News/News18.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Posco Vst Vision Work Shop 2019</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News17.JPG" data-lightbox="image-1" data-title="POSCO VST Volunteer Plan at Hoa Mai Orphan">
                        <img class="wow fadeInUp" data-wow-delay="1.2" src="~/images/News/News17.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">POSCO VST Volunteer Plan at Hoa Mai Orphan</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News16.JPG" data-lightbox="image-1" data-title="Anniversary of Founding of Posco VST 10th">
                        <img class="wow fadeInUp" data-wow-delay="1.3s" src="~/images/News/News16.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Anniversary of Founding of Posco VST 10th</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News15.JPG" data-lightbox="image-1" data-title="Buiding Charity House at Vung Tau">
                        <img class="wow fadeInUp" data-wow-delay="1.4s" src="~/images/News/News15.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Buiding Charity House at Vung Tau</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News14.JPG" data-lightbox="image-1" data-title="Annual Healthy Check for Employees">
                        <img class="wow fadeInUp" data-wow-delay="1.5s" src="~/images/News/News14.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Annual Healthy Check for Employees</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News13.JPG" data-lightbox="image-1" data-title="Customer & Supplier Appreciation">
                        <img class="wow fadeInUp" data-wow-delay="1.6s" src="~/images/News/News13.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Customer & Supplier Appreciation</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News12.JPG" data-lightbox="image-1" data-title="Buillding Charity House of Posco Family Activities">
                        <img class="wow fadeInUp" data-wow-delay="1.7s" src="~/images/News/News12.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Buillding Charity House of Posco Family Activities</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News11.JPG" data-lightbox="image-1" data-title="POSCO VST Volunteer Plan at An Lac Orphan">
                        <img class="wow fadeInUp" data-wow-delay="1.8s" src="~/images/News/News11.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">POSCO VST Volunteer Plan at An Lac Orphan</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News10.JPG" data-lightbox="image-1" data-title="Anniversary of Founding of Posco VST 7th">
                        <img class="wow fadeInUp" data-wow-delay="1.9s" src="~/images/News/News10.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Anniversary of Founding of Posco VST 7th</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News09.JPG" data-lightbox="image-1" data-title="QSS Weekly at Wednesday">
                        <img class="wow fadeInUp" data-wow-delay="2.0s" src="~/images/News/News09.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">QSS Weekly at Wednesday</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News08.JPG" data-lightbox="image-1" data-title="Commemorate The Argeement Of Industry">
                        <img class="wow fadeInUp" data-wow-delay="2.1s" src="~/images/News/News08.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Commemorate The Argeement Of Industry</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News07.JPG" data-lightbox="image-1" data-title="QSS Kick Off">
                        <img class="wow fadeInUp" data-wow-delay="2.2s" src="~/images/News/News07.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">QSS Kick Off</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News06.JPG" data-lightbox="image-1" data-title="CEO give Present at Lunar New Year">
                        <img class="wow fadeInUp" data-wow-delay="2.3s" src="~/images/News/News06.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">CEO give Present at Lunar New Year</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News05.JPG" data-lightbox="image-1" data-title="Customer Appreciation Ceremony - Year End 2015">
                        <img class="wow fadeInUp" data-wow-delay="0.4s" src="~/images/News/News05.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Customer Appreciation Ceremony - Year End 2015</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News04.JPG" data-lightbox="image-1" data-title="Anniversary of Incorporation 6th Posco VST">
                        <img class="wow fadeInUp" data-wow-delay="0.5s" src="~/images/News/News04.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Anniversary of Incorporation 6th Posco VST</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News03.JPG" data-lightbox="image-1" data-title="POSCO Chairman Visiting Posco VST">
                        <img class="wow fadeInUp" data-wow-delay="0.6s" src="~/images/News/News03.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">POSCO Chairman Visiting Posco VST</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News02.JPG" data-lightbox="image-1" data-title="5S Benchmarking">
                        <img class="wow fadeInUp" data-wow-delay="0.7s" src="~/images/News/News02.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">5S Benchmarking</span>
                </div>
            </div>

            <div class="col-xs-4" style="height:160px;margin-bottom:20px;padding-right:3px;padding-left:0">
                <div class="col-md-12">
                    <a href="~/images/News/News01.JPG" data-lightbox="image-1" data-title="Posco Vst Vision Work Shop">
                        <img class="wow fadeInUp" data-wow-delay="0.8s" src="~/images/News/News01.JPG" style="width: 100%;height:143px" />
                    </a>
                </div>
                <div class="col-md-12">
                    <span class="galery-link">Posco Vst Vision Work Shop </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray"><a href="news-information.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma; background-color:#a2c9f0">▶&nbsp;&nbsp;<b>News & Information</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray"><a href="facilities.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Facilities</b></a></li>
    </ul>
}