@if (Request.Browser.IsMobileDevice)
{
    <a href="https://m.me/103854038169058" target="_blank">
        <div class="fb-wrap pulsing">
            <img id="fb-img" src="~/media/images/icon/face-b.png" />
        </div>
    </a>
}
else
{
    <a href="https://www.messenger.com/t/103854038169058" target="_blank">
        <div class="fb-wrap pulsing">
            <img id="fb-img" src="~/media/images/icon/face-b.png" />
        </div>
    </a>
}
