@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-detail" style="width:980px;margin-left:20%">
    <div class="col-xs-10">
        <h4 class="wow fadeInUp" data-wow-delay="0.6s" style="margin-left:auto; margin-right:auto"><center>SUB MATERIAL PURCHASING LIST</center></h4>
        <div style="font-family:Tahoma">
            <p style="font-size:16px; color:#4a8af4"><b>We always welcome New Suppliers of good quality !</b></p>
        </div>
        <div style="font-size:14px; font-family:Tahoma; color:#797977; width:850px">
            <table border="1" cellpadding="0" cellspacing="0">
                <tr height="20px">

                    <td align="center" bgcolor="#F0F0F0" class="Std_Font_B"><b>No.</b></td>
                    <td align="center" bgcolor="#F0F0F0" class="Std_Font_B"><b>CATEGORY</b></td>
                    <td align="center" bgcolor="#F0F0F0" class="Std_Font_B"><b>ITEM NAME</b></td>
                    <td align="center" bgcolor="#F0F0F0" class="Std_Font_B"><b>SPECIFICATION</b></td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">1</td>
                    <td rowspan="11" align="center">&nbsp;Bearing</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Bearing Timken 135</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">2</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Roller Bearing 22210CC(E1, RHRW33, EAE4, LH-22210CD1, E), STANDARD, 50IDx90ODx23W, SPHERICAL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">3</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Ball Bearing 6205ZZ(2ZR, ZZ, ZZ(ZZ1), ZZ, 2Z), STANDARD, 25IDx52ODx15W, DEEP GROOVE</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">4</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Roller Bearing NUTR50110, 50IDx110ODx32W, NEEDLE</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">5</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Ball Bearing 7313BTVP, 65IDx140ODx33W, ANGULAR CONTACT</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">6</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Roller Bearing NU 2307ECP(E.M1, FY, W, -, ECJ), STANDARD, 35IDx80ODx31W, CYLINDRICAL (SKF)</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">7</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Ball Bearing 61812-2RS1(61812Y, -, -, -, 61812), STANDARD, 60IDx78ODx10W, DEEP GROOVE (SKF)</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">8</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Roller Bearing NART-12VUUR/SAMICK THK, THK, 12IDx32ODx15W, NEEDLE</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">9</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Ball Bearing 3203B2RSR , FAG, 17IDx40ODx17.5W, ANGULAR CONTACT</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">10</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Ball Bearing 4203ATN9, SKF, 17IDx40ODx16W, ANGULAR CONTACT</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">11</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Bearing</td>
                    <td>&nbsp;&nbsp;-&nbsp;Ball Bearing LR 5202 NPPU LR5202-2RS/INA, 15IDx40ODx15.9W, RADIAL DOUBLE ROW</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">12</td>
                    <td align="center" rowspan="3">Belt</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Endless Belt</td>
                    <td>&nbsp;&nbsp;-&nbsp;Varied Belt 22265W/JDC, LESAT ENDLESS BELT</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">13</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Endless Belt</td>
                    <td>&nbsp;&nbsp;-&nbsp;Varied Belt ANDLESS BELT URELT, U528-580, </td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">14</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Endless Belt</td>
                    <td>&nbsp;&nbsp;-&nbsp;Varied Belt ANDLESS BELT URELT, for STL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">15</td>
                    <td align="center" rowspan="20">Chemical</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Nonoxidation biocide </td>
                    <td>&nbsp;&nbsp;-&nbsp;SC502 ,  ORIGIN,  KOREA</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">16</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Corrosion inhibito</td>
                    <td>&nbsp;&nbsp;-&nbsp;W203s ,  ORIGIN,  KOREA</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">17</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Corrosion inhibito</td>
                    <td>&nbsp;&nbsp;-&nbsp;SC808s ,  ORIGIN,  KOREA</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">18</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Mixed salt</td>
                    <td>&nbsp;&nbsp;-&nbsp;Chemical MSDS, TOXIC, NAOH:56.0%MIN, NANO3:26.0%MIN, NACL:6.0%MIN (SOLID TYPE DESCALING), SALT</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">19</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">H2SO4 </td>
                    <td>&nbsp;&nbsp;-&nbsp;60%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">20</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">NAHSO3  </td>
                    <td>&nbsp;&nbsp;-&nbsp;30%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">21</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">PAC  </td>
                    <td>&nbsp;&nbsp;-&nbsp;30%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">22</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">POLYMER ANION </td>
                    <td>&nbsp;&nbsp;-&nbsp;10%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">23</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">CA(OH)2</td>
                    <td>&nbsp;&nbsp;-&nbsp;98%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">24</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">CH3OH </td>
                    <td>&nbsp;&nbsp;-&nbsp;99%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">25</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">EMULSION BREAKER </td>
                    <td>&nbsp;&nbsp;-&nbsp;10% (IRON GUARD)</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">26</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">H3PO4</td>
                    <td>&nbsp;&nbsp;-&nbsp;8.50%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">27</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">NACL</td>
                    <td>&nbsp;&nbsp;-&nbsp;99%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">28</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">CA(OH)2</td>
                    <td>&nbsp;&nbsp;-&nbsp;20%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">29</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">HF </td>
                    <td>&nbsp;&nbsp;-&nbsp;55%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">30</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">HNO3 </td>
                    <td>&nbsp;&nbsp;-&nbsp;68%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">31</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">NACLO2 </td>
                    <td>&nbsp;&nbsp;-&nbsp;25%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">32</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">NA2S </td>
                    <td>&nbsp;&nbsp;-&nbsp;25%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">33</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">NAOH</td>
                    <td>&nbsp;&nbsp;-&nbsp;32%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">34</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">H2O2 </td>
                    <td>&nbsp;&nbsp;-&nbsp;35%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">35</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px" rowspan="2">Gas</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">N2</td>
                    <td>&nbsp;&nbsp;-&nbsp;Tandard, LN2/kboc,  nitrogen, tan, 5kg/cm2, 99.999%, nitrogen, liquid nitrogen gas, white</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">36</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">NH3</td>
                    <td>&nbsp;&nbsp;-&nbsp;Gas type,  liquid amonia, 50kg,  NH3:99.5995%UP,  H2O:0.4005%,  MSDS</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">37</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px" rowspan="5">Oil</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Hydraulic oil</td>
                    <td>&nbsp;&nbsp;-&nbsp;Hydraulic oil VG  68,  209l/drum,  shell</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">38</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Hydraulic oil</td>
                    <td>&nbsp;&nbsp;-&nbsp;Hydraulic oil VG 46,  209 l/drum,  shell</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">39</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Gear oil</td>
                    <td>&nbsp;&nbsp;-&nbsp;320 VG32 209 l/drum,  shell</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">40</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Rolling oil</td>
                    <td>&nbsp;&nbsp;-&nbsp;Tendemol ZE 5S, LCA, Mineral, flash point:190 DEG C, MSDS, FOR ZRM &amp; PZM cold rolling mill, korea houghton corp</td>
                </tr>
                <tr height="40">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">41</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Rolling oil</td>
                    <td>
                        &nbsp;&nbsp;-&nbsp;Rolling/Antirust/Skinpass Oil VBC BEROL STS 50PVST/VINA-BUHMWOO, LCA, MINERAL TYPE, <br />
                        HIGH VISCOSITY ESTER, FLASH POINT:162DEG C, MSDS, GRINDING OIL FOR ZM3, 20000L, FOR ZR21BB-64&quot;
                    </td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">42</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px" rowspan="3">Other</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Ceramic disk</td>
                    <td>&nbsp;&nbsp;-&nbsp;Disk 59.5Dx310Dx4.5T, CERAMIC, FOR TILTING TOLL - CAPL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">43</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Brush disk</td>
                    <td>&nbsp;&nbsp;-&nbsp;Brush BRUSH DISK, 300, 0.2D, PP, STS316, ITEM NO. 2, FOR CAPL ((1set=400ea))</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">44</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Ceramic disk</td>
                    <td>&nbsp;&nbsp;-&nbsp;Disk 00.5Dx310Dx4.5T, CERAMIC, FOR CARROUSEL HEART ROLL,  APL,  Me#02</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">45</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px" rowspan="24">Packing material</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Wire rope</td>
                    <td>&nbsp;&nbsp;-&nbsp;Wire Rope, 14D, 6 X FI25</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">46</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Water proof paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;1600MM x ROLL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">47</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Water proof paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;2000MM x ROLL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">48</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Steel band</td>
                    <td>&nbsp;&nbsp;-&nbsp;(19*0.6)MM</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">49</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Steel band</td>
                    <td>&nbsp;&nbsp;-&nbsp;(32*0.8)MM</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">50</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Steel clip</td>
                    <td>&nbsp;&nbsp;-&nbsp;(32*0.9)MM</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">51</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Steel clip</td>
                    <td>&nbsp;&nbsp;-&nbsp;(19*0.6)MM</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">52</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Wooden pallet</td>
                    <td>&nbsp;&nbsp;-&nbsp;1300*2500MM (consist of: 50*80*2500: 4 ea,  100*100*1300: 4 ea,  30*100*1300: 4 ea)</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">53</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Wooden bar</td>
                    <td>&nbsp;&nbsp;-&nbsp;100T*110W*1300L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">54</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Wooden bar</td>
                    <td>&nbsp;&nbsp;-&nbsp;80T*90W*1300L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">55</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Wooden bar</td>
                    <td>&nbsp;&nbsp;-&nbsp;100T*110W*2000L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">56</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Wooden bar</td>
                    <td>&nbsp;&nbsp;-&nbsp;50T*70W*2500L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">57</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Dry wooden</td>
                    <td>&nbsp;&nbsp;-&nbsp;50T*80W*2500L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">58</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Dry wooden</td>
                    <td>&nbsp;&nbsp;-&nbsp;100T*120W*2000L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">59</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Dry wooden</td>
                    <td>&nbsp;&nbsp;-&nbsp;100T*120W*1300L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">60</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Dry wooden</td>
                    <td>&nbsp;&nbsp;-&nbsp;80T*100W*1300L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">61</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Innerring</td>
                    <td>&nbsp;&nbsp;-&nbsp;1.8T*100W*1650L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">62</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Outterring</td>
                    <td>&nbsp;&nbsp;-&nbsp;0.63T*150W*3300L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">63</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Outterring</td>
                    <td>&nbsp;&nbsp;-&nbsp;0.63T*150W*3500L</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">64</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Carton Paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;1080W X ROLL X 2 LAYERS</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">65</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Carton Paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;1280W X ROLL X 2 LAYERS</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">66</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Carton Paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;1000W X ROLL X 2 LAYERS</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">67</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Carton Paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;1220W X ROLL X 2 LAYERS</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">68</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Pe cover</td>
                    <td>&nbsp;&nbsp;-&nbsp;1.4*1220*1700L (Varied Cover 1220Wx1700Lx1.4T, POLYETHYLENE, BLUE SKY COLOR,  0.958G/CM3, PROTECTED COV</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">69</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px" rowspan="24">Production material</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Paper spool</td>
                    <td>&nbsp;&nbsp;-&nbsp;506.5*17*1000MM</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">70</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Paper spool</td>
                    <td>&nbsp;&nbsp;-&nbsp;506.5*17*1220MM</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">71</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">PE for interleaving</td>
                    <td>&nbsp;&nbsp;-&nbsp;Wrap Film 1220Wx20000MX0.015T,  ID150, CLEAR, POLYETHYLENE, FOR PRODUCTION TO LINE STEEL COIL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">72</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">PE for interleaving</td>
                    <td>&nbsp;&nbsp;-&nbsp;Wrap Film 1240Wx0.025TX150IDX10000L, CLEAR, POLYETHYLENE, FOR PRODUCTION TO LINE STEEL COIL</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">73</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">ALKALI</td>
                    <td>&nbsp;&nbsp;-&nbsp;Alkali UDC L-3010, ALKALI SALT:17.9%,  PHOSPHATE SALT:5.1%,  CHELATING:0.87%, SULFACTANT:2.4%, 1250 KG/DR</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">74</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Sand paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;#400,  Toa,  ORIGIN: THAILAND</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">75</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Sand paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;#600,  Toa,  ORIGIN: THAILAND</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">76</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Felt</td>
                    <td>&nbsp;&nbsp;-&nbsp;Felt 3000Lx1400Wx10T, WHITE, WOOL 100%</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">77</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Sand paper</td>
                    <td>&nbsp;&nbsp;-&nbsp;#1000,  Toa,  ORIGIN: THAILAND</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">78</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Welding wire</td>
                    <td>&nbsp;&nbsp;-&nbsp;SM-309L*1.2D,  Menam </td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">79</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Work Holding Tool CENTER</td>
                    <td>&nbsp;&nbsp;-&nbsp;247Lx54.6Dx64D, 60 DEG, MT#6, S45C/TUNGSTEN CARBIDE D1</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">80</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Work Holding Tool CENTER</td>
                    <td>&nbsp;&nbsp;-&nbsp;102.7Lx25Dx31.267D, 60 DEG, MT#4, S45C/TUNGSTEN CARBIDE </td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">81</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Work Holding Tool CENTER</td>
                    <td>&nbsp;&nbsp;-&nbsp;102.7Lx25Dx31.267D, 60 DEG, MT#4, S45C/TUNGSTEN CARBIDE</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">82</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Work Holding Tool CENTER</td>
                    <td>&nbsp;&nbsp;-&nbsp;205Lx54.6Dx63.8D, 60 DEG, MT#6, S45C/TUNGSTEN CARBIDE D1</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">83</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Aceton</td>
                    <td>&nbsp;&nbsp;-&nbsp;Cleaner/Degreaser/Remover ACETONE, LCA, DIMETYL XETON, 30L, CH3-C(=O)CH3, MSDS(GHS), GREASE REMOVE, F</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">84</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding Wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;GC#400 H8B , 127 X 355D X 38T</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">85</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;GC#120 H8B 203.2D X 610D X 50T</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">86</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding Wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;GC#80 H8B 203.2D X 610D X 50T</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">87</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;GC#120 H8B 203.2D X 610D X 50T</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">88</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding Wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;GC#80 H8B 203.2D X 610D X 50T</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">89</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;Abrasive Wheel GRINDING WHEEL, GC#120, H 8 B, 127Dx355Dx38T, GREEN SILICON CARBIDE, FOR ZRM ROLL GRINDI</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">90</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding Wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;Abrasive Wheel GRINDING WHEEL, GC#80, H 8 B, 203.2Dx508Dx50.8T, GREEN SILICON CARBIDE, FOR ZRM ROLL GRI</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">91</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Grinding Wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;Abrasive Wheel GRINDING WHEEL, GC#120, H 8 B, 203.2Dx508Dx50.8T, GREEN SILICON CARBIDE, FOR ZRM ROLL GRI</td>
                </tr>
                <tr height="20">

                    <td align="center" width="50px" style="font-family:Tahoma; font-size:14px">92</td>
                    <td align="center" width="150px" style="font-family:Tahoma; font-size:14px">Gring wheel</td>
                    <td>&nbsp;&nbsp;-&nbsp;Abrasive Wheel GRINDING WHEEL, GC#240, H 8 B, 127Dx355Dx38T, GREEN SILICON CARBIDE, FOR ZRM ROLL GRINDI</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray"><a href="recruitment.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Recruitment</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray"><a href="scrap-bidding.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Scrap Bidding</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray"><a href="purchasing.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma; background-color:#a2c9f0">▶&nbsp;&nbsp;<b>Purchasing</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray"><a href="ethics.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Ethics </b></a></li>
    </ul>
}