@{
    Layout = null;
    ViewBag.Title = "Posco VST Corp";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posco VST Corp</title>
    <link rel="icon" type="image/png" href="~/media/images/icon/P.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Tooplate" />
    <meta name="viewport" content="width=1208, initial-scale=1" />

    @Styles.Render("~/css/base")
    @Styles.Render("~/css/customs")
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div id="preloader">
        <div class="loader"></div>
    </div>
    @{Html.RenderAction("Header", "Home");}

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8554738604666!2d106.923140215334!3d10.745620062698672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317518906bb43539%3A0xc381ad0d09815d3b!2sC%C3%B4ng%20Ty%20Tnhh%20Posco%20V.S.T!5e0!3m2!1sen!2ssg!4v1585728007751!5m2!1sen!2ssg" width="100%" height="700px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <!--#region Facebook chat-->
    <div class="fb-wrap pulsing">
        <a href="#">
            <img id="fb-img" src="~/media/images/icon/face-b.png" />
        </a>
    </div>
    <!--#endregion-->

    @{Html.RenderAction("Footer", "Home");}
    @Scripts.Render("~/js/plugins")
    @Scripts.Render("~/js/customs")
</body>
</html>