@media screen and (max-width: 1024px) {
    .navbar-static-top div[style="width:960px;margin:auto;"] {
        width: 100% !important;
    }

    #header-wrapper {
        padding: 0px 15px;
    }

    img[src="/media/images/icon/SLOGANVST.png"] {
        width: 85% !important;
    }

    #left-menu {
        display: none;
    }

    #content-wrap {
        width: 980px !important;
    }

    .content-detail {
        margin-left: unset !important;
        max-width: 100%;
        width: 980px !important;
    }

        .content-detail .row {
            max-width: 100%;
        }

        .content-detail .col-xs-11,
        #infographicsRow {
            float: none;
            margin: auto;
        }

    .of-x .col-xs-11 {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .content-detail .col-xs-11 div[style*="width:850px"] {
        width: 100% !important;
    }

        .content-detail .col-xs-11 div[style*="width:850px"] .col-xs-6 {
            height: 350px !important;
        }

            .content-detail .col-xs-11 div[style*="width:850px"] .col-xs-6 img {
                width: 100% !important;
                height: 250px !important;
            }

    img[src="media/images/picture_Introdution.png"] {
        width: 100% !important;
    }

    table[style*="width"] {
        width: 100% !important;
    }

    table[style="font-family:Tahoma; font-size:12px; color:#75758b"] {
        width: 100% !important;
    }

    .modal-dialog[style="height: 95%; width: 100%"] {
        width: 95% !important;
    }

    .Std_Font_B[style*="/media/images/banner.jpg"] {
        background-size: cover;
    }

    .content-detail .col-xs-11 table[style="margin-left:20px; margin-right:20px"] {
        margin: auto !important;
        width: 95% !important;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    h4 {
        font-size: 2.5em;
    }

    .navbar-default {
        padding: 35px 10px 10px;
    }

    #content-wrap {
        margin-top: 10px !important;
    }

    .navbar-static-top div[style="width:960px;margin:auto;"] div[style="float:right;height:40px"] {
        height: auto !important;
        margin-right: 25px;
    }

    .navbar-static-top div[style="width:860px;margin:auto; height:auto;"] {
        width: 100% !important;
    }

    #navbar_menu > ul > li {
        margin-bottom: 10px;
    }

    #navbar_menu ul ul {
        z-index: 10;
        width: 100%;
        min-width: 170px;
    }

        #navbar_menu ul ul li {
            height: auto !important;
        }

        #navbar_menu ul ul ul,
        #navbar_menu ul ul ul ul {
            width: 170px;
        }

    .content-detail .col-xs-11 div[style*="width:850px"],
    .content-detail .col-xs-11 div[style*="width:850px"] table tbody tr[height="20"] td,
    .content-detail .col-xs-11 div[style*="width:850px"] table tbody tr td[style*="font-size:15px"],
    .content-detail .col-xs-11 table tbody tr[style="font-size:15px; font-family:Tahoma"],
    #accordian .h5 span,
    .section-btn,
    .meta, font[size="+1"],
    a, b, p, strong, label {
        font-size: 25px !important;
        line-height: 40px !important;
    }

    .content-detail .col-xs-11 div[style="font-family:Tahoma; color:#797977"] {
        margin-top: 15px;
    }

    .content-detail .col-xs-11 table[width="783"],
    .content-detail .col-xs-11 table[width="783"] img {
        width: 100% !important;
    }

    #home h3,
    footer .container h4 {
        font-size: 25px !important;
    }

    .content-detail .col-xs-11 div[style*="width:800px"] {
        font-size: 25px !important;
        width: 100% !important;
    }

    .content-detail .col-xs-11 table[width="600px"] {
        width: 800px !important;
    }

    img[src="/media/images/poscovstlogo.png"],
    img[src="/media/images/icon/SLOGANVST.png"] {
        width: 100% !important;
        height: auto !important;
    }

    div[style="border: 3px solid #7DB9DF; margin-left: 10px; margin-top: 20px; margin-bottom: 10px; margin-right: 10px; height: 576px;"] {
        font-size: 20px !important;
        height: 800px !important;
    }

    .modal-header .close {
        font-size: 50px;
        margin-top: -20px !important;
    }

    img[src="media/images/VST_stone.png"] {
        width: unset !important;
        height: unset !important;
    }

    .col-xs-12.text-align-center[align="center"] {
        display: none;
    }

    .archive_list .title {
        max-height: 4.5em !important;
    }

    .headderin {
        margin-top: -23px !important;
    }

    .fb-wrap {
        height: 70px !important;
        width: 70px !important;
    }
}
