@media screen and (max-width: 1024px) {
    .navbar-static-top div[style="width:960px;margin:auto;"] {
        width: 100% !important;
    }

    #header-wrapper {
        padding: 0px 15px;
    }

    img[src="/media/images/icon/SLOGANVST.png"] {
        width: 85% !important;
    }

    #left-menu {
        display: none;
    }

    #content-wrap {
        width: 980px !important;
    }

    .content-detail {
        margin-left: unset !important;
        max-width: 100%;
        width: 980px !important;
    }

        .content-detail .col-xs-10 {
            float: none;
            margin: auto;
        }

    .of-x .col-xs-10 {
        overflow-x: auto;
        overflow-y: hidden;
    }

    #content-detail div[style="font-size:14px; font-family:Tahoma; color:#797977; width:850px"] {
        width: 100% !important;
    }


    div[style="font-size:14px; font-family:Tahoma; color:#797977; width:850px"] img {
        width: 100% !important;
    }

    img[src="media/images/picture_Introdution.png"] {
        width: 100% !important;
    }

    table[style="margin-top:20px;width:900px"] {
        width: 100% !important;
    }

    table[style="font-family:Tahoma; font-size:12px; color:#75758b"] {
        width: 100% !important;
    }

    table[width="890px"] {
        width: 100% !important;
    }
}
