<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Compression" value="true" />
  <add key="VisitorsCounterFilePath" value="D:/Huy/Source/HomePageVST/HomePageVST/visitors-counter.json" />
  <add key="EnableBundles" value="true"/>
  <add key="EnableMonitorPerRequest" value="true"/>
  <add key="log4net.Config" value="log4net.config"/>
  <add key="PathSettings.config" value="PathSettings.config"/>
  <add key="log4net.Internal.Debug" value="true"/>

  <add key="image.News.FullPath" value="D:/Huy/Source/HomePageVST/HomePageVST/images/News/" />
  <add key="image.News.ShortPath" value="/images/News/" />
  <add key="image.News.Mini.FullPath" value="D:/Huy/Source/HomePageVST/HomePageVST//minimages/News/" />
  <add key="image.News.Mini.ShortPath" value="/minimages/News/" />

  <add key="Pdf.FullPath" value="D:/Huy/Source/HomePageVST/HomePageVST/docs/" />
  <add key="Pdf.ShortPath" value="/docs/" />
</appSettings>