<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Compression" value="true" />
  <add key="EnableBundles" value="true"/>
  <add key="EnableMonitorPerRequest" value="false"/>
  <add key="log4net.Config" value="log4net.config"/>
  <add key="PathSettings.config" value="PathSettings.config"/>
  <add key="log4net.Internal.Debug" value="true"/>
  
  <add key="VisitorsCounterFilePath" value="/visitors-counter.json" />
  <add key="image.News.Path" value="/media/images/News/" />
  <add key="image.News.Mini.Path" value="/media/minimages/News/" />
  <add key="Pdf.Path" value="/docs/" />
</appSettings>